<html>

<head>
<title>Journal club poll overview</title>
</head>

<body>


<iframe src="https://wall.sli.do/event/9rmkxHMASwTpf3sVhBc8x4?section=1da6b76c-400e-4b99-a752-b43bc47302e3" height="100%" width="100%" style="min-height: 560px;"></iframe>

</body>
</html>
